{% extends 'app/base_iniciado.html' %}
{% load static %}


{% block contenido %}


<div class="col-sm-10" >
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10" style="margin-top: 30px;">
        <h1 style="color: white">Estado del envio:</h1>
        <br>
        <br>

        <h10 style="color:blueviolet; margin-right: 150px;">Preparando envio. --->></h10>
        <h10 style="color:blueviolet; margin-right: 200px;">Envio en reparto --->></h10>
        <h10 style="color: white">Envio entregado.</h10>
        <div class="progress">
            <div class="progress-bar bg-info" style="width:45%"></div>
          </div>
          <br>
          <br>
          <br>

            




                </table>

                <a href="{% url 'usu_ini' %}">

                    <button style="background-color: rgb(129, 16, 190); border: none; color: white;" class="btn btn-primary;" activated>
                    <span  class="spinner-grow spinner-grow-sm"></span>
                    Volver al Inicio
                    </button>
                    </a>


            </div>
              <div class="col-sm-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12"></div>
    </div>
</div>
</div>
</div>

{% endblock %}

